.custom-scroll::-webkit-scrollbar {
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid rgb(12, 12, 12);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    border: 1px solid rgb(0, 0, 0);
}

.app {
    display: flex;
    flex-direction: column;
    font-family: " Roboto";
}

.app_nav {
    height: 75px;
    display: flex;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    color: #fff;
    top: 0;
    background-color: #0067a3;

}

.app_boards_container {
    flex: 1;
    width: 100%;
    background-color: #0079bf;

}

.app_boards {
    margin-left: 50px;
    background-color: #0079bf;
    padding: 1%;
    display: flex;
    gap: 30px;
    height: auto;
    min-height: 853px;
}

.app_boards_last {
    flex-basis: 290px;
}

.app_boards_add-board {
    background-color: rgb(148, 148, 148);
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);

    text-align: center;
}
.app_boards_add-board_edit {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.app_footer{
    background-color: #0067a3;
    color: #fff;
    display: flex;
    max-height: fit-content;
}

.card_drop{
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
.card_drop_li{
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 200ms;;
}
.card_drop_li:hover{
    background-color: #ebecf0;
    border-radius: 3px;
}
.card_drop_sel{
    margin-bottom: 5px;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 200ms;;
}
.marg_sel{
    margin-left: 17rem;
}

