.editable {
    width: 100%;
}

.editable_display {
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
    width: fit-content;
    transition: 200ms;
}

.editable_display:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.editable_edit {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editable_edit input {
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

.editable_edit_footer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.editable_edit_footer button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #0079bf;
    color: #fff;
    transition: 100ms ease;
    padding: 10px;
}
.editable_edit_footer button:hover {
    background-color: #0079bf;
}

.editable_edit_footer button:active {
    transform: translateY(2px);
}

